body{
    background-image: url("background.jpg");
    background-size: contain;
    height: 750px;
}

.heading
{
  font-size: 23px;
  width: 100%;
  font-weight: bolder;
  margin: 0px;
  color: white;
}

.note
{
  font-size: 15px;
  color: black;
}
#song
  {
  	font-size: 17px;
  	margin: 15px;
  }